#cloud-config
ssh_import_id: ['lp:pgdg99']
ssh_authorized_keys: [ssh-ed25519 AAAAC3...]
ssh_genkeytypes: [ed25519]

write_files:
- path: /etc/profile.d/default-editor.sh
  permissions: '0644'
  content: |
    export EDITOR=nvim

- path: /etc/sudoers.d/keep-editor
  permissions: '0440'
  content: |
    Defaults env_keep += "EDITOR"

packages:
  - git
  - neovim
  - pollinate
  - jq

snap:
  commands:
  - snap install microk8s --classic

package_update: true
package_upgrade: true
package_reboot_if_required: true

timezone: America/Bogota

random_seed:
  command: [pollinate]
  command_required: true
  file: /dev/urandom

runcmd:

# Export variables
- echo "\n\n-------- Exporting variables... --------\n"

- export IP_ADDRESS=$(hostname -I | awk '{print $1}')
- export INTERFACE=$(ip -j route show default | jq -r '.[].dev')

# Enabling MicroK8s addons
- echo "\n\n-------- Enabling MicroK8s addons... --------\n"

- usermod -a -G microk8s ubuntu
- newgrp microk8s
- chown -R ubuntu ~/.kube

- microk8s enable dns
- microk8s enable dashboard
- microk8s enable hostpath-storage

# Wait for Pods to be ready
- |
  echo "\n\n-------- Waiting for MicroK8s to enter 'Running' state... --------\n"
  
  NAMESPACE="kube-system"
  
  # Start the loop
  while true; do
    all_ready=true
    
    POD_IDS=$(microk8s kubectl get pods -n "$NAMESPACE" --no-headers -o custom-columns=":metadata.name")

    # Safety check: Ensure we actually have Pods to check
    if [ -z "$POD_IDS" ]; then
      echo "Error: No pods found in namespace '$NAMESPACE' yet. Cluster might be starting..."
      all_ready=false
    else
      for id in $POD_IDS; do
        # Query Microk8s for the status phase
        status=$(microk8s kubectl get pod "$id" -n "$NAMESPACE" -o jsonpath='{.status.phase}')
        
        echo "  Pod $id is currently '$status'..."
        
        # If any pod is NOT Running AND NOT Succeeded (Completed jobs), we mark the flag as false
        if [ "$status" != "Running" ] && [ "$status" != "Succeeded" ]; then
           all_ready=false
        fi
      done
    fi

    # If the flag is still true, everyone is ready -> break the loop
    if [ "$all_ready" = true ] && [ ! -z "$POD_IDS" ]; then
      echo "All Pods are Running!"
      break
    fi

    # Wait 30 seconds before checking again
    echo "Waiting 30s before checking again..."
    sleep 30
  done

# Authorize MicroK8s dashboard
- echo "\n\n-------- Print MicroK8s dashboard token... --------\n"

- microk8s kubectl describe secret -n kube-system microk8s-dashboard-token

# List Pods
- echo "\n\n-------- Listing Pods... --------\n"

- microk8s kubectl get all --all-namespaces

# MicroK8s finished deploying
- echo "\n\n-------- Finished deploying MicroK8s, have fun! --------\n"
