#cloud-config
ssh_import_id: ['lp:pgdg99']
ssh_authorized_keys: [ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJarMH7ITZbBSf6iA8RzneJfgDQt3H9pDs1lm+RjmAXq pablo.degreiff@canonical.com]
ssh_genkeytypes: [ed25519]

write_files:
- path: /etc/profile.d/maas-login.sh
  permissions: '0644'
  content: |
    if [ "$USER" = "ubuntu" ] && command -v maas >/dev/null 2>&1; then
        ADMIN_USER="admin"
        maas login $ADMIN_USER 'http://localhost:5240/MAAS/' $(sudo maas apikey --username $ADMIN_USER) >/dev/null 2>&1
    fi

- path: /etc/profile.d/default-editor.sh
  permissions: '0644'
  content: |
    export EDITOR=nvim

- path: /etc/sudoers.d/keep-editor
  permissions: '0440'
  content: |
    Defaults env_keep += "EDITOR"

- path: /root/lxd-host.crt
  owner: root:root
  permissions: '0644'
  content: |
    -----BEGIN CERTIFICATE-----
    MIIDDTCCAfWgAwIBAgIURgCXtVx/njtlqmDW6dyRcUhT9iwwDQYJKoZIhvcNAQEL
    BQAwFjEUMBIGA1UEAwwLbWFhcy1jbGllbnQwHhcNMjYwMjI1MjM1MTI2WhcNMzYw
    MjIzMjM1MTI2WjAWMRQwEgYDVQQDDAttYWFzLWNsaWVudDCCASIwDQYJKoZIhvcN
    AQEBBQADggEPADCCAQoCggEBALXbitp5VQBdbRTkesn+syBmJi33tt8zlTJl/bdg
    GGiGrW4b2+8kHwdD0JoWZHsAynuJ9p325FRUwasscb5Sd7bXPGEJ+yg0ES4UIQpN
    SflbymlrFulO+VzfNHN8vAW2GEhNXqYugv8PODVdBzmGp/VAapNR39RAQ4mZmTPj
    6C0FSdO8bzm5PM+jLJFz+fHawgTYJTq24+MkHpKXO3OrGRtpex1D/ae4b91lIg5/
    KiSnUO/Ifw2JdEMItieRS/S5RTOk1Xyw0kBqJ3cpuBkvGL1ydGrZub3+tyUrKDaa
    sCsidmwbLXc+KMs7Yi1gSeONBRSbPnWfgi0hppu/Yak81v8CAwEAAaNTMFEwHQYD
    VR0OBBYEFBwzc8H0C1+C6wjJgg3vXRw48ucnMB8GA1UdIwQYMBaAFBwzc8H0C1+C
    6wjJgg3vXRw48ucnMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEB
    AJeMqdSPe1Nly0UxNOCBzxXrJ6J24wC2xhqLkYdOABFkmRNM5djBSPWXeKaTfl2z
    s5CHbgxT5po5aD2TjXLY7sbhMND4SIuictcwzrOerLpvaiUbEk01dd1k3oH+dzQ3
    tTh3A5a+AMr1eOPB4eyVpfmvz9HJSruhuQAjNaxnslQ1I5da1+Lf4JkBCpYIoP+D
    5nCeDEy9++eDUTZZ7TTh2btavAJd1LHmobN5oxnnXYAVdLeobX6rSRf2H2lQnh99
    CEWpAa152lIutFwd+WJ5OeKSOaW5/COHBeyE6umbgW+lNtJyKFI2SF5nkGXeXboT
    8+TpWRRINhv9jQKxT13W+3Y=
    -----END CERTIFICATE-----

- path: /root/lxd-host.key
  owner: root:root
  permissions: '0600'
  content: |
    -----BEGIN PRIVATE KEY-----
    MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC124raeVUAXW0U
    5HrJ/rMgZiYt97bfM5UyZf23YBhohq1uG9vvJB8HQ9CaFmR7AMp7ifad9uRUVMGr
    LHG+Une21zxhCfsoNBEuFCEKTUn5W8ppaxbpTvlc3zRzfLwFthhITV6mLoL/Dzg1
    XQc5hqf1QGqTUd/UQEOJmZkz4+gtBUnTvG85uTzPoyyRc/nx2sIE2CU6tuPjJB6S
    lztzqxkbaXsdQ/2nuG/dZSIOfyokp1DvyH8NiXRDCLYnkUv0uUUzpNV8sNJAaid3
    KbgZLxi9cnRq2bm9/rclKyg2mrArInZsGy13PijLO2ItYEnjjQUUmz51n4ItIaab
    v2GpPNb/AgMBAAECggEABJeptwCvY9X4Jjnq2+UBswTBXBHQXWyZDO/Ea3gSxbj4
    8jnj4PMhkXZl8y4zlWOcuWfvgWe1tmd5iJATw0Gj4ksnLDArVoWSFX7Oosr23kQy
    JV1d88BZzb2ZPn1c5iwGCvVhOYMdLcG9oqNZxlsfLLNWvaeoplyFGBl34/aSa2iW
    4eL8dPkm+ZI8JPrvy6HNZS+WRJXexk9fhoQzhHpdn/gS+yULrjl7pDtejIbBDuhL
    rTNfrGxyhMtWCr6NzknZy52zJoPzoC88TK+jz0R3Kf6jIeXKWdNRMdlViOMomerE
    l+Y8H1nN2UrbRZlN91QGggo0ZmpjJ4oizzJxTGyhQQKBgQDX4TIs9luVsl5PXtuA
    evhS9kxnm3Tk0z7wVDNxVdtZiYT+yWpTFSabmPInfRHeeoP6IfwuWs56Vb3FVgGt
    vmxsjdHftIKyQPdgv0lyuMp9vvVij9cpKXMEnRBC6plqtbyeyNPQ1GLf4L8QEaM5
    4DSoF/NNNEPRvOtTrxbZlh/YnwKBgQDXp7GmWWQoUTW/xk4bVEw7jJ11g2S+iA+W
    04vY3GYVhZCAKSdYFbcg4SQf3N2BPLj7T0KDJ/YS8rqloVzMBchswvuF6bsE6ERz
    gtRIo6MvaxtKYvz1LvhvrtlAN1MteJbMPiSOC0dgkUd8k1+zkc8vWG1nfd88cAM5
    gUT+bXWFoQKBgQCEEfN+amFxXaQw7plfKtwM9T2dDRAghdQ1d23ZYmtFhcpljZeM
    qJ3sB0/uNKff8hgXyP7c5RT45seomIuCXcM7TjAdqfNjVjeBasVmeAL5lv/Mgq9h
    MUh6hBRUu+2LyQ9SHQ7o7WZoDLkW/ZNcbvwH8k8Y5mavQ+K8WZujFiL5hQKBgHHi
    Q+V2FXdZE4pXvc2e4bcc1dZF8gDQN3NN+e8mzN4Wr62OjhFtPk0lt/7/kxX5rDJC
    s/wxMTjmZ/ypzyiK8UHGYi9gs/uucN+TOmm1yKp05G+PAMi16kqISoAn90vu/6uS
    MZm1iRcNAXRfG03n9UKqbvQVO7td58YJZxb5VPOhAoGAJp8m5rTj28mzTgSgdKs3
    ffxbv3tCS5iyP0phkh8ny8MmkxOEDsISJIFk3tDH+sbCRny2AP5qrEoUJ31JQsuT
    IlZKVYAs4ubvchO2UDzDKiM0EYHqYP9+q40SBVAuCidPZ1KEtbjYSsfvoRSK4NnQ
    NrkLfc1kndRN0qVzYMb7iNk=
    -----END PRIVATE KEY-----

packages:
  - git
  - neovim
  - pollinate
  - jq
  
snap:
  commands:
  - snap install maas --channel=3.6/stable

package_update: true
package_upgrade: true
package_reboot_if_required: true

timezone: America/Bogota

random_seed:
  command: [pollinate]
  command_required: true
  file: /dev/urandom

runcmd:

# Export variables
- echo "\n\n-------- Exporting variables... --------\n"

- export SSH_KEY=lp:pgdg99

- export ADMIN_USER=admin
- export ADMIN_PASS=admin
- export ADMIN_EMAIL=admin@mail.com
- export DB_NAME=maas_db

- export GATEWAY=10.0.0.1
- export SUBNET=10.0.0.0/22
- export LXD_ADDR=10.0.0.1:8443
- export LXD_CERT="/root/lxd-host.crt"
- export LXD_KEY="/root/lxd-host.key"

- export MAAS_PROJECT_NAME=maas
- export MAAS_DNS=8.8.8.8
- export MAAS_RESERVED_IP_START=10.0.3.200
- export MAAS_RESERVED_IP_END=10.0.3.254

- export NODE_CPU=2
- export NODE_RAM=4096
- export NODE_MAIN_DISK=20

- export IP_ADDRESS=$(hostname -I | awk '{print $1}')
- export INTERFACE=$(ip -j route show default | jq -r '.[].dev')

# Install PostgreSQL
- echo "\n\n-------- Install PostgreSQL... --------\n"

- systemctl disable --now systemd-timesyncd
- apt-get update
- apt-get install -y postgresql

# Configure PostgreSQL
- echo "\n\n-------- Configure PostgreSQL... --------\n"

- sudo -i -u postgres psql -c "CREATE USER \"$ADMIN_USER\" WITH ENCRYPTED PASSWORD '$ADMIN_PASS'"
- sudo -i -u postgres createdb -O "$ADMIN_USER" "$DB_NAME"
- sed -i "1i host    $DBNAME    $DBUSER    0/0     md5" /etc/postgresql/*/main/pg_hba.conf

# Initialise MAAS
- echo "\n\n-------- Initializing MAAS... --------\n"

- maas init region+rack --database-uri "postgres://$ADMIN_USER:$ADMIN_PASS@$HOSTNAME/$DB_NAME" --maas-url http://${IP_ADDRESS}:5240/MAAS
- maas createadmin --username $ADMIN_USER --password $ADMIN_PASS --email $ADMIN_EMAIL --ssh-import $SSH_KEY

# Wait for MAAS services to be ready
- |
  echo "\n\n-------- Waiting for MAAS API to be ready... --------\n"
  
  until maas login $ADMIN_USER 'http://localhost:5240/MAAS/' $(maas apikey --username $ADMIN_USER) > /dev/null 2>&1; do
    echo "MAAS is not ready yet (502). Retrying in 30 seconds..."
    sleep 30
  done

# Grab API key and login as admin
- echo "\n\n-------- Logging in as admin user... --------\n"

- export APIKEY=$(maas apikey --username $ADMIN_USER)
- maas login $ADMIN_USER 'http://localhost:5240/MAAS/' $APIKEY

- maas $ADMIN_USER maas set-config name=maas_name value=$MAAS_PROJECT_NAME name=completed_intro value=true

# Automatically create and add ssh keys to MAAS
- echo "\n\n-------- Generating SSH keys and adding them to MAAS... --------\n"

- ssh-keygen -q -t rsa -N "" -f "/home/ubuntu/.ssh/id_rsa"
- chown ubuntu:ubuntu /home/ubuntu/.ssh/id_rsa /home/ubuntu/.ssh/id_rsa.pub
- chmod 600 /home/ubuntu/.ssh/id_rsa
- chmod 644 /home/ubuntu/.ssh/id_rsa.pub
- maas $ADMIN_USER sshkeys create key="$(cat /home/ubuntu/.ssh/id_rsa.pub)"

# Configure MAAS networking (set gateways, vlans, DHCP on etc)
- echo "\n\n-------- Configuring MAAS networking... --------\n"

- export FABRIC_ID=$(maas $ADMIN_USER subnet read "$SUBNET" | jq -r ".vlan.fabric_id")
- export VLAN_TAG=$(maas $ADMIN_USER subnet read "$SUBNET" | jq -r ".vlan.vid")
- export PRIMARY_RACK=$(maas $ADMIN_USER rack-controllers read | jq -r ".[] | .system_id")

- maas $ADMIN_USER subnet update $SUBNET gateway_ip=$GATEWAY
- maas $ADMIN_USER ipranges create type=dynamic start_ip=$MAAS_RESERVED_IP_START end_ip=$MAAS_RESERVED_IP_END
- maas $ADMIN_USER vlan update $FABRIC_ID $VLAN_TAG dhcp_on=true primary_rack=$PRIMARY_RACK
- maas $ADMIN_USER maas set-config name=upstream_dns value=$MAAS_DNS

# Configure boot images
- echo "\n\n-------- Configuring MAAS boot images... --------\n"

- export BOOT_SOURCE_ID=$(maas $ADMIN_USER boot-sources read | jq -r '.[0].id')

- maas $ADMIN_USER boot-source-selections create $BOOT_SOURCE_ID os="ubuntu" release="noble" arches="amd64" labels='*' subarches='*'
- maas $ADMIN_USER boot-source-selections create $BOOT_SOURCE_ID os="ubuntu" release="jammy" arches="amd64" labels='*' subarches='*'

- maas $ADMIN_USER boot-resources import

# Wait for MAAS boot images to be ready
- |
  echo "\n\n-------- Waiting for all MAAS Boot Images to sync... --------\n"
  
  while true; do
    
    missing_images=false

    importing_status=$(maas $ADMIN_USER boot-resources is-importing)

    # Get the list of images we requested (e.g., "focal jammy noble")
    requested_releases=$(maas $ADMIN_USER boot-source-selections read $BOOT_SOURCE_ID | jq -r '.[].release')

    # Get the list of images that are actually downloaded and ready
    downloaded_releases=$(maas $ADMIN_USER boot-resources read | jq -r '.[].name' | sort | uniq)

    # Check if the image has been downloaded
    for release in $requested_releases; do
      if echo "$downloaded_releases" | grep -q "$release"; then
         # Image exists. Now check if import is finished
         if [ "$importing_status" = "false" ]; then
             echo "  Image '$release' has downloaded!"
         else
             echo "  Image '$release' is currently syncing..."
             missing_images=true
         fi
      else
         echo "  Image '$release' was not found in boot resources..."
         missing_images=true
      fi
    done

    # Check for missing images
    if [ "$missing_images" = "false" ]; then
      clean_list=$(echo "$requested_releases" | tr '\n' ' ')
      echo "All selected boot images ( $clean_list) are fully synced!"
      break
    fi

    # Wait 30 seconds before checking again
    echo "Some images are missing. Waiting 30s..."
    sleep 30
  done

# Install Packer
#- echo "\n\n-------- Installing Packer... --------\n"

#- wget -O - https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
#- echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list

#- apt-get update
#- apt-get install -y packer make qemu-utils libnbd-bin nbdkit fuse2fs qemu-system qemu-system-modules-spice ovmf cloud-image-utils parted

# Create custom Image using Packer
#- echo "\n\n-------- Creating Custom MAAS Image using Packer... --------\n"

#- git clone https://github.com/canonical/packer-maas.git /home/ubuntu/packer-maas/
#- su -l ubuntu -c 'sudo make -C ~/packer-maas/ubuntu/ custom-cloudimg.tar.gz'
#- mv /home/ubuntu/packer-maas/ubuntu/custom-cloudimg.tar.gz /home/ubuntu
#- chown ubuntu:ubuntu /home/ubuntu/custom-cloudimg.tar.gz

# Add custom image to MAAS
#- echo "\n\n-------- Adding Custom Image to MAAS... --------\n"

#- su ubuntu -c "maas login $ADMIN_USER 'http://localhost:5240/MAAS/' $APIKEY && maas $ADMIN_USER boot-resources create name='custom/ubuntu-tgz' title='Ubuntu Custom TGZ' architecture='amd64/generic' filetype='tgz' content@='/home/ubuntu/custom-cloudimg.tar.gz'"

# Add LXD as a VM host for MAAS
- echo "\n\n-------- Adding LXD as VM host in MAAS... --------\n"

- maas $ADMIN_USER vm-hosts create type=lxd power_address=https://$LXD_ADDR certificate="$(cat $LXD_CERT)" key="$(cat $LXD_KEY)" name=LXD project=$MAAS_PROJECT_NAME
- export VM_HOST_ID=$(maas $ADMIN_USER vm-hosts read | jq -r '.[0].id')

# Compose VMs using VM host (-c limits.cpu=6 -c limits.memory=12GiB --device root,size=60GiB)
- echo "\n\n-------- Composing VM(s) using LXD... --------\n"

- export SYSTEM_ID_1=$(maas $ADMIN_USER vm-host compose $VM_HOST_ID cores=$NODE_CPU memory=$NODE_RAM storage=$NODE_MAIN_DISK hostname=node1 | jq -r '.system_id') && echo $SYSTEM_ID_1

- export SYSTEM_ID_2=$(maas $ADMIN_USER vm-host compose $VM_HOST_ID cores=$NODE_CPU memory=$NODE_RAM storage=$NODE_MAIN_DISK hostname=node2 | jq -r '.system_id') && echo $SYSTEM_ID_2

- export SYSTEM_ID_3=$(maas $ADMIN_USER vm-host compose $VM_HOST_ID cores=$NODE_CPU memory=$NODE_RAM storage=$NODE_MAIN_DISK hostname=node3 | jq -r '.system_id') && echo $SYSTEM_ID_3

# Wait for VMs to be ready
- |
  echo "\n\n-------- Waiting for VMs to enter 'Ready' state... --------\n"
  
  IDS=$(maas $ADMIN_USER machines read | jq -r --arg host_id "$VM_HOST_ID" '.[] | select(.pod.id == ($host_id | tonumber)) | .system_id')
  
  # Safety check: Ensure we actually have IDs to check
  if [ -z "$IDS" ]; then
    echo "Error: No VMs found belonging to Host ID '$VM_HOST_ID'."
    exit 1
  fi

  # Start the loop
  while true; do
    all_ready=true
    
    for id in $IDS; do
      # Query MAAS for the status name
      status=$(maas $ADMIN_USER machine read "$id" | jq -r '.status_name')
      echo "  Machine '$id' is currently '$status'..."
      # If any machine is NOT ready, we mark the flag as false
      if [ "$status" != "Ready" ]; then
         all_ready=false
      fi
    done

    # If the flag is still true, everyone is ready -> break the loop
    if [ "$all_ready" = true ]; then
      echo "All VMs are Ready!"
      break
    fi

    # Wait 60 seconds before checking again
    echo "Waiting 60s before checking again..."
    sleep 60
  done

# Deploy VMs using VM host
#- echo "\n\n-------- Deploying VM(s)... --------\n"

#- maas $ADMIN_USER machine deploy $SYSTEM_ID_1 distro_series=ubuntu/noble ephemeral_deploy=false
#- maas $ADMIN_USER machine deploy $SYSTEM_ID_2 distro_series=ubuntu/jammy ephemeral_deploy=false

